<nav class="nav bg-primary">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="nav-logo">
      <a href="/pages/index.html" target="_self" class="nav-logo">
            <img src="../assets/images/logo-white.png" alt="logo">
      </a>
    </div>
    <ul class="nav-pc-menu d-none d-md-flex text-white list-unstyled d-flex align-items-center m-0">
      <li class="nav-pc-menu-item fs-5 me-64"><a href="#" class="d-inline-block py-3">系列鏡框</a></li>
      <li class="nav-pc-menu-item fs-5 me-64"><a href="#" class="d-inline-block py-3">門市據點</a></li>
      <li class="nav-pc-menu-item fs-5 me-64"><a href="#" class="d-inline-block py-3">部落格</a></li>
      <li class="nav-pc-menu-item fs-5"><a href="/pages/faq.html" class="d-inline-block py-3">常見問題</a></li>
    </ul>
  </div>
  <ul class="nav-menu d-md-none text-white list-unstyled">
      <li class="nav-menu-item"><a href="#">系列鏡框</a></li>
      <li class="nav-menu-item"><a href="#">門市據點</a></li>
      <li class="nav-menu-item"><a href="#">部落格</a></li>
      <li class="nav-menu-item"><a href="/pages/faq.html">常見問題</a></li>
  </ul>
</nav>